body {
    
}
ul{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
img {
    width: 230px;
    height:230px;
    border-radius: 5%;
    border: 3px solid violet;
    
}
.center{
    text-align: center;
}